<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    <title>Entregables</title>
</head>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <a class="navbar-brand" href="/profesores">Profesores</a>
                <a class="navbar-brand" href="/cursos">Cursos</a>
                <a class="navbar-brand" href="/estudiantes">Estudiantes</a>
                <a class="navbar-brand" href="/entregables">Entregables</a>
                <a class="btn btn-primary" href="#signup">Iniciar</a>
            </div>
        </nav>
<body style="background-color: chocolate;">
    
</body>
</html>