<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="features-icons bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
    
                    <!-- Aquí va lo que cambia  -->
                    
                    {% if formulario_curso.errors %}
                    <p style="color: red;">Los datos están mal.Por favor reviselos</p>
                    {% endif %}
    
                    <form action="{% url 'formulario' %}" method="POST">
                        {% csrf_token %}
                        <!-- <p>Curso: <input type="text" name="curso" title="curso"></p>
                
                        <p>Camada: <input type="number" name="camada" title="camada"></p> -->
                
                        <table>
                            {{ formulario_curso.as_table }}
                        </table>
    
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>