{% extends 'AppCoder/base.html' %}

{% block titulo %}
{{ model }} Details
{% endblock %}

{% block contenido %}
<section class="features-icons bg-light">
    <div class="container">
    <h1>{{ model }}</h1>
        {% if model == 'Professor' %}
            <p>Professor: {{ object.first_name }} {{ object.last_name }}</p>
            <p>Email: {{ object.email }}</p>
            <p>Specialty: {{ object.specialty }}</p>
        {% elif model == 'Student' %}
            <p>Student: {{ object.first_name }} {{ object.last_name }}</p>
            <p>Email: {{ object.email }}</p>
        {% elif model == 'Course' %}
            <p>Course: {{ object.name }}</p>
            <p>Attendees count: {{ object.attendees }}</p>
        {% endif %}
    </div>
</section>
{% endblock %}